Let's_Go_PL/BLL_LetsGO/Service References/svc_Cat_y_Mat/LetsGo_Contract.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LetsGo_Contract" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:13999/LetsGo.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:13999/LetsGo.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:13999/LetsGo.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILetsGo_Interface_ListarDatos_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarDatos" />
  </wsdl:message>
  <wsdl:message name="ILetsGo_Interface_ListarDatos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarDatosResponse" />
  </wsdl:message>
  <wsdl:message name="ILetsGo_Interface_FiltrarDatos_InputMessage">
    <wsdl:part name="parameters" element="tns:FiltrarDatos" />
  </wsdl:message>
  <wsdl:message name="ILetsGo_Interface_FiltrarDatos_OutputMessage">
    <wsdl:part name="parameters" element="tns:FiltrarDatosResponse" />
  </wsdl:message>
  <wsdl:message name="ILetsGo_Interface_Insertar_DatosSinIdentity_InputMessage">
    <wsdl:part name="parameters" element="tns:Insertar_DatosSinIdentity" />
  </wsdl:message>
  <wsdl:message name="ILetsGo_Interface_Insertar_DatosSinIdentity_OutputMessage">
    <wsdl:part name="parameters" element="tns:Insertar_DatosSinIdentityResponse" />
  </wsdl:message>
  <wsdl:message name="ILetsGo_Interface_Insertar_DatosConIdentity_InputMessage">
    <wsdl:part name="parameters" element="tns:Insertar_DatosConIdentity" />
  </wsdl:message>
  <wsdl:message name="ILetsGo_Interface_Insertar_DatosConIdentity_OutputMessage">
    <wsdl:part name="parameters" element="tns:Insertar_DatosConIdentityResponse" />
  </wsdl:message>
  <wsdl:message name="ILetsGo_Interface_Modifica_Datos_InputMessage">
    <wsdl:part name="parameters" element="tns:Modifica_Datos" />
  </wsdl:message>
  <wsdl:message name="ILetsGo_Interface_Modifica_Datos_OutputMessage">
    <wsdl:part name="parameters" element="tns:Modifica_DatosResponse" />
  </wsdl:message>
  <wsdl:message name="ILetsGo_Interface_Elimina_Datos_InputMessage">
    <wsdl:part name="parameters" element="tns:Elimina_Datos" />
  </wsdl:message>
  <wsdl:message name="ILetsGo_Interface_Elimina_Datos_OutputMessage">
    <wsdl:part name="parameters" element="tns:Elimina_DatosResponse" />
  </wsdl:message>
  <wsdl:portType name="ILetsGo_Interface">
    <wsdl:operation name="ListarDatos">
      <wsdl:input wsaw:Action="http://tempuri.org/ILetsGo_Interface/ListarDatos" message="tns:ILetsGo_Interface_ListarDatos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILetsGo_Interface/ListarDatosResponse" message="tns:ILetsGo_Interface_ListarDatos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FiltrarDatos">
      <wsdl:input wsaw:Action="http://tempuri.org/ILetsGo_Interface/FiltrarDatos" message="tns:ILetsGo_Interface_FiltrarDatos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILetsGo_Interface/FiltrarDatosResponse" message="tns:ILetsGo_Interface_FiltrarDatos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Insertar_DatosSinIdentity">
      <wsdl:input wsaw:Action="http://tempuri.org/ILetsGo_Interface/Insertar_DatosSinIdentity" message="tns:ILetsGo_Interface_Insertar_DatosSinIdentity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILetsGo_Interface/Insertar_DatosSinIdentityResponse" message="tns:ILetsGo_Interface_Insertar_DatosSinIdentity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Insertar_DatosConIdentity">
      <wsdl:input wsaw:Action="http://tempuri.org/ILetsGo_Interface/Insertar_DatosConIdentity" message="tns:ILetsGo_Interface_Insertar_DatosConIdentity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILetsGo_Interface/Insertar_DatosConIdentityResponse" message="tns:ILetsGo_Interface_Insertar_DatosConIdentity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Modifica_Datos">
      <wsdl:input wsaw:Action="http://tempuri.org/ILetsGo_Interface/Modifica_Datos" message="tns:ILetsGo_Interface_Modifica_Datos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILetsGo_Interface/Modifica_DatosResponse" message="tns:ILetsGo_Interface_Modifica_Datos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Elimina_Datos">
      <wsdl:input wsaw:Action="http://tempuri.org/ILetsGo_Interface/Elimina_Datos" message="tns:ILetsGo_Interface_Elimina_Datos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILetsGo_Interface/Elimina_DatosResponse" message="tns:ILetsGo_Interface_Elimina_Datos_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILetsGo_Interface" type="tns:ILetsGo_Interface">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListarDatos">
      <soap:operation soapAction="http://tempuri.org/ILetsGo_Interface/ListarDatos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FiltrarDatos">
      <soap:operation soapAction="http://tempuri.org/ILetsGo_Interface/FiltrarDatos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insertar_DatosSinIdentity">
      <soap:operation soapAction="http://tempuri.org/ILetsGo_Interface/Insertar_DatosSinIdentity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insertar_DatosConIdentity">
      <soap:operation soapAction="http://tempuri.org/ILetsGo_Interface/Insertar_DatosConIdentity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Modifica_Datos">
      <soap:operation soapAction="http://tempuri.org/ILetsGo_Interface/Modifica_Datos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Elimina_Datos">
      <soap:operation soapAction="http://tempuri.org/ILetsGo_Interface/Elimina_Datos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LetsGo_Contract">
    <wsdl:port name="BasicHttpBinding_ILetsGo_Interface" binding="tns:BasicHttpBinding_ILetsGo_Interface">
      <soap:address location="http://localhost:13999/LetsGo.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>